<html>
		
    <body>
				<h1> CENG 445 Ciftlik Bank Demo </h1>
				<a href="/ciftlikbank">Main page</a>

		<div align="right" style="margin-left: 710px; float:right">
		{% if request.user.is_authenticated %}
			User: {{ request.user }}<br>
			{% if person %}
				Balance: {{person.balance}}<br>
				Reserved Balance: {{person.reserved_balance}}<br>
			{% endif %}
				<a href="/accounts/password_change?next=/ciftlikbank">Change Password!</a><br>
				<a href="/accounts/logout?next=/ciftlikbank">Logout</a>
		{% endif %}
		</div>
		<div>
			{% block "body" %} 
			{% endblock %}
		</div>
		</body>

<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td {
		padding: 5px;
		text-align: left;
	}
  .container {
    width: 100%;
    margin: auto;
    padding: 10px;
    height: 100%;
  }
  .one {
    width: 50%;
    float: left;
  }
  .two {
    width: 50%;
    margin-left: 50%;
  }
</style>
</html>
