{% extends 'base.html' %}
{% block "body" %}
<p><a href="{% url 'sell_item_create' %}">Create SellItem</a></p>
  <div class='container'>
    <div class='one'>
      <h3>User Items</h3>
      <table id="user_items_{{request.user.id}}" style="width:50%">
        <tr>
          <th>Title</th>
          <th>State</th>
          <th>Item Link</th>
        </tr>
        {% for item in user_items %}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.state}}</td>
            <td>
              <a href="view/{{item.id}}"> Click for item page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      
      <h3>Active Items</h3>
      <table id="active_items_{{request.user.id}}" style="width:50%">
        <tr>
            <th>Title</th>
            <th>State</th>
            <th>Item Link</th>
        </tr>
        {% for item in active_items %}
          <tr id={{item.id}}>
            <td>{{item.title}}</td>
            <td>{{item.state}}</td>
            <td>
              <a href="view/{{item.id}}"> Click for item page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>

      <h3>Previously Sold Items</h3>
      <table id="sold_items_{{request.user.id}}" style="width:50%">
        <tr>
            <th>Title</th>
            <th>State</th>
            <th>Item Link</th>
        </tr>
        {% for item in sold_items %}
          <tr id={{item.id}}>
            <td>{{item.title}}</td>
            <td>{{item.state}}</td>
            <td>
              <a href="view/{{item.id}}"> Click for item page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div> 
    <div class='two'>
      <h3>Users</h3>
      <table id="user_table">
        <tr>
          <th>Username</th>
          <th>Page</th>
        </tr>
        {% for user in all_users%}
          <tr>
            <td>{{user.username}}</td>
            <td>
              <a href="user_view/{{user.id}}"> Click for user page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>

    </div>
    <form id="user_watch" method="POST" action="/ciftlikbank/view/user_watch/{{item.id}}" style="margin-top: 25px;">
      {% csrf_token %}
      <input type="text" name="itemtype" placeholder="Itemtype" required/>
      <input type="submit" value="Watch this item type"/>
    </form>
  </div>


{% endblock %}

