{% extends 'base.html' %}
{% block "body" %}

  <div style="width: 100%; overflow: hidden;">
      <div style="width: 680px; float: left;"> 
        <h4>Item View</h4>
        <table id="item_view_{{item.id}}" style="width:100%">
            <tr>
              <th>Title</th>
              <td>{{item.title}}</td>
            </tr>
            <tr>
              <th>Owner</th>
              <td>{{item.owner}}</td>
            </tr>
            <tr>
              <th>ItemType</th>
              <td>{{item.itemtype}}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{item.description}}</td>
            </tr>
            <tr>
              <th>State</th>
              <td>{{item.state}}</td>
            </tr>
            <tr>
              <th>Auction Type</th>
              <td>{{item.auction_type}}</td>
            </tr>
            <tr>
              <th>Is Auction Started</th>
              <td>{{item.auction_started}}</td>
            </tr>
            <tr>
              <th>Auction Started At</th>
              <td>{{item.auction_started_at}}</td>
            </tr>
            <tr>
              <th>Auction Ended At</th>
              <td>{{item.auction_ended_at}}</td>
            </tr>
            <tr>
              <th>Old Owner</th>
              <td>{{item.old_owner}}</td>
            </tr>
            <tr>
              <th>Current Bidder</th>
              <td>{{item.current_bidder}}</td>
            </tr>
            <tr>
              <th>Current Bid</th>
              <td>{{item.current_value}}</td>
            </tr>
            <tr>
              <th>Item Created At</th>
              <td>{{item.created_at}}</td>
            </tr>
            <tr>
              <th>Image</th>
              <td>{{item.image.url}}</td>
            </tr>
        </table>
        <div style="width: 100%;">
          <div style="width: 100px; float: left;">
            {% if item.auction_started or user != item.owner%}
            <form id="start_auction_button" action="/ciftlikbank/view/start_auction/{{item.id}}">
              <input type="submit" value="Start Auction" disabled />
            </form>
            {% else %}
            <form id="start_auction_button" action="/ciftlikbank/view/start_auction/{{item.id}}">
              <input type="submit" value="Start Auction" />
            </form>
            {% endif %}
          </div>
         
          <div style="margin-left: 30px; width:100px; float: left; ">
            <form id="sell_item_button_{{item.id}}" action="/ciftlikbank/view/sell_item/{{item.id}}">
              {% if item.auction_started and item.state ==  "active" and user == item.owner %}
              <input type="submit" value="Sell Item"/>          
              {% else %}
              <input type="submit" value="Sell Item" disabled/>
              {% endif %}
            </form>
          </div>
          <div style=" margin-left:30px; width:100px; float: left;">
              <form id="delete_item_button_{{item.id}}" action="/ciftlikbank/view/delete_item/{{item.id}}">
                {% if user == item.owner and item.state != "active" %}
                <input type="submit" value="Delete Item" />
                {% else %}
                <input type="submit" value="Delete Item" disabled/>
                {% endif %}
              </form>
          </div>
        </div>
        
        <form style="margin-left: 30px;" id="item_watch" action="/ciftlikbank/view/item_watch/{{item.id}}">
          <input type="submit" value="Watch this item"/>
        </form>
      </div>
      
      <div style="margin-left: 700px;"> 
        <h4>Bid Records</h4>
        <table id="bid_table_{{item.id}}" style="width:100%">
            <tr>
              <th>Bidder</th>
              <th>Amount</th>
              <th>At</th>
            </tr>
            {% for bid in bids %}
              <tr>
                <td>{{bid.bidder_name}}</td>
                <td>{{bid.amount}}</td>
                <td>{{bid.created_at}}</td>
              </tr>
            {% endfor %}
        </table>
        <div style="width:100%">
            <form id="add_bid_{{item.id}}" method="POST" action="/ciftlikbank/view/bid_item/{{item.id}}">
              {% csrf_token %}
              <input type="number" name="bid_value" min="0" required/>
              
              {% if item.state == 'active' and item.owner != user %}
              <input type="submit" value="Bid" />
              {% else %}
              <input type="submit" value="Bid" disabled/>
              {% endif %}
            </form>
        </div>
      </div>
  </div>
  <script type="text/javascript">
  
    $("#start_auction_button").submit( function(e) {
      // Make the start button disable
      $("#start_auction_button input[type=submit]").attr("disabled",true);
      
      // Make the delete button disable
      $("#delete_item_button_{{item.id}} input[type=submit]").attr("disabled",true);

      // Make the sell button enable
      $("#sell_item_button_{{item.id}} input[type=submit]").attr("disabled",false);
      
      // To prevent default action behaviour of button
      e.preventDefault();
      var form = $(this);
      var url = form.attr('action')

      $.get(url,function (e){
        console.log(e);
      });
    });

    $('#sell_item_button_{{item.id}}').submit( function(e) {
      // Make the sell button disable
      $("#sell_item_button_{{item.id}} input[type=submit]").attr("disabled",true);
      

      e.preventDefault();
      var form = $(this);
      var url = form.attr('action')

      $.get(url,function(e) {
        console.log(e);
      })

    });

    $("#add_bid_{{item.id}}").submit(function(e) {
      
      e.preventDefault();
      var form = $(this);
      var url = form.attr('action')
      $.post(url,form.serialize(), function(e){
        console.log(e);
        if(e["status"]=="NOK"){
          alert(e["msg"]);
        }
      });
    });

    $("#item_watch").submit( function(e) {
      // Make the start button disable
      $("#item_watch input[type=submit]").attr("disabled",true);
      
      // To prevent default action behaviour of button
      e.preventDefault();
      var form = $(this);
      var url = form.attr('action')

      $.get(url,function (e){
        console.log(e);
        updater.socket.send(e);
      });
    })
  </script>
{% endblock %}

