{% extends 'base.html' %}
{% block "body" %}
{{message}}
  <div class='container'>
    <div class='one'>
      <h3>Own Items</h3>
      <table style="width:50%">
        <tr>
          <th>Title</th>
          <th>State</th>
          <th>Item Link</th>
        </tr>
        {% for item in own_items %}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.state}}</td>
            <td>
              <a href="view/{{item.id}}"> Click for item page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      
      <h3>Bought Items</h3>
      <table style="width:50%">
        <tr>
            <th>Title</th>
            <th>State</th>
            <th>Item Link</th>
        </tr>
        {% for item in bought_items %}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.state}}</td>
            <td>
              <a href="view/{{item.id}}"> Click for item page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>

      <h3>Sold Items</h3>
      <table style="width:50%">
        <tr>
            <th>Title</th>
            <th>State</th>
            <th>Item Link</th>
        </tr>
        {% for item in sold_items %}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.state}}</td>
            <td>
              <a href="view/{{item.id}}"> Click for item page! </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div> 
    <div class='two'>
      <h3>user infos</h3>
      
    </div>
  </div>
{% endblock %}

